{% extends "base.html" %}
{% block title %}List_of_Schedules{% endblock title %}

{% block extrahead %}
<script>
$(function() {
  $('.del_confirm').on('click', function () {
     $("#del_pk").text($(this).attr("pk"));
     $('#del_url').attr('href', $(this).attr("url"));
  });
});
</script>
<style>
table {
  margin-top: 8px;
    background-color: #dfe3e6;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">Sched!</h3>
    <h4>List of Schedules</h4>
    <a href="{% url 'cms:schedule_add' %}" class="btn btn-default btn-sm">Add</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Event Name</th>
          <th>Date</th>
          <th>Place</th>
          <th>Note</th>
          <th>Control</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in schedules %}
        <tr>
          <td>{{ schedule.id }}</td>
          <td>{{ schedule.EventName }}</td>
          <td>{{ schedule.Date }}</td>
          <td>{{ schedule.Place }}</td>
          <td>{{ schedule.Note }}</td>

          <td>
            <a href="{% url 'cms:schedule_mod' schedule_id=schedule.id %}" class="btn btn-default btn-sm">Modify</a>
            <button class="btn btn-default btn-sm del_confirm" data-toggle="modal" data-target="#deleteModal" pk="{{ schedule.id }}" url="{% url 'cms:schedule_del' schedule_id=schedule.id  %}">Delete</button></button>
            <a href="{% url 'cms:discussion_list' schedule_id=schedule.id %}" class="btn btn-default btn-sm btn-primary">List of Discussion</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">confirm</h4>
      </div>
      <div class="modal-body">
        <p>Do you really delete</p><p>ID: <span id="del_pk"></span></p><p>?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="del_url">OK</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}